<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.2.145" targetFramework="net35-client" />
  <package id="WizardWrx.ASCIIInfo" version="8.0.147" targetFramework="net35-client" />
  <package id="WizardWrx.AssemblyUtils" version="8.0.198" targetFramework="net35-client" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net35-client" />
  <package id="WizardWrx.Common" version="8.0.168" targetFramework="net35-client" />
  <package id="WizardWrx.ConsoleStreams" version="8.0.258" targetFramework="net35-client" />
  <package id="WizardWrx.Core" version="8.0.250" targetFramework="net35-client" />
  <package id="WizardWrx.DLLConfigurationManager" version="8.0.287" targetFramework="net35-client" />
  <package id="WizardWrx.FormatStringEngine" version="8.0.232" targetFramework="net35-client" />
</packages>