<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.2.145" targetFramework="net35-client" />
  <package id="WizardWrx.ASCIIInfo" version="8.0.149" targetFramework="net35-client" />
  <package id="WizardWrx.AssemblyUtils" version="8.0.200" targetFramework="net35-client" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net35-client" />
  <package id="WizardWrx.Common" version="8.0.170" targetFramework="net35-client" />
  <package id="WizardWrx.ConsoleStreams" version="8.0.260" targetFramework="net35-client" />
  <package id="WizardWrx.Core" version="8.0.252" targetFramework="net35-client" />
  <package id="WizardWrx.DLLConfigurationManager" version="8.0.289" targetFramework="net35-client" />
  <package id="WizardWrx.FormatStringEngine" version="8.0.234" targetFramework="net35-client" />
</packages>