<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.2.145" targetFramework="net35-client" />
  <package id="WizardWrx.ASCIIInfo" version="7.23.85" targetFramework="net35-client" />
  <package id="WizardWrx.AssemblyUtils" version="7.23.122" targetFramework="net35-client" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net35-client" />
  <package id="WizardWrx.Common" version="7.23.125" targetFramework="net35-client" />
  <package id="WizardWrx.ConsoleStreams" version="7.23.193" targetFramework="net35-client" />
  <package id="WizardWrx.Core" version="7.23.183" targetFramework="net35-client" />
  <package id="WizardWrx.DLLConfigurationManager" version="7.23.214" targetFramework="net35-client" />
  <package id="WizardWrx.FormatStringEngine" version="7.23.169" targetFramework="net35-client" />
</packages>