<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.2.145" targetFramework="net452" />
  <package id="WizardWrx.ASCIIInfo" version="8.0.145" targetFramework="net452" />
  <package id="WizardWrx.AssemblyUtils" version="8.0.196" targetFramework="net452" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net452" />
  <package id="WizardWrx.Common" version="8.0.166" targetFramework="net452" />
  <package id="WizardWrx.ConsoleStreams" version="8.0.256" targetFramework="net452" />
  <package id="WizardWrx.Core" version="8.0.248" targetFramework="net452" />
  <package id="WizardWrx.DiagnosticInfo" version="8.0.49" targetFramework="net452" />
  <package id="WizardWrx.DLLConfigurationManager" version="8.0.285" targetFramework="net452" />
  <package id="WizardWrx.FormatStringEngine" version="8.0.230" targetFramework="net452" />
  <package id="WizardWrx.MoreMath" version="8.0.48" targetFramework="net452" />
</packages>